@import '../../assets/sass/components/variables';
@import '../../assets/sass/components/mixin';

.selectedWrap {
  .el-dialog--small {
    width: 480px;
    padding: 10px 20px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    & > div > form {
      & > p {
        span {
          color: $viceColor;
        }
        a {
          color: $viceColor;
          &:hover {
            color: $masterColor;
          }
        }
      }
    }
  }
}

.operating {
  & > button {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid $masterColor;
  }
}