@import '../../../../sass/components/variables';
@import '../../../../sass/components/mixin';

#introductionMain, #contactMain, #privacyMain, #problemMain, #processMain, #protocolMain, #rateMain, #statementMain, #termsMain, #tradeMain {
  padding: 39px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  min-height: 970px;
  h2 {
    height: 44px;
    line-height: 33px;
    color: $masterColor;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

#contactMain {
  .contactBox {
    display: flex;
    img {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    p {
      flex: 1;
      font-size: 14px;
      color: $masterColor;
      text-indent: 10px;
      margin: 25px 0;
      span {
        display: inline-block;
        text-indent: 10px;
        font-size: 22px;
        color: #252525;
      }
    }
  }
}

#processMain {
  h3 {
    margin: 30px 0 20px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
  }
}

#tradeMain {
  h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    font-weight: 400;
    color: $masterColor;
    line-height: 24px;
  }
  .tradeP {
    padding-bottom: 20px;
  }
  .trade-p {
    padding: 80px 0 20px;
  }
}

#problemMain {
  h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

#problemMain, #termsMain, #privacyMain, #statementMain, #protocolMain {
  .br {
    margin-bottom: 20px;
  }
}

#rateMain {
  table {
    width: 100%;
    height: 552px;
    * {
      vertical-align: middle;
    }
    th, td {
      font-size: 14px;
      text-align: center;
      line-height: 30px;
      border: 1px solid #E0E0E0;
    }
    td {
      font-weight: 300;
    }
    th {
      height: 60px;
      line-height: 60px;
      background: #6464D2;
      color: #ffffff;
    }
    tr {
      td {
        &.tbodyTh {
          font-weight: 400;
        }
        span {
          display: inline-block;
          text-align: left;
        }
      }
      th {
        &:nth-of-type(5) {
          width: 224px;
        }
      }
      td {
        &:nth-of-type(5) {
          width: 224px;
        }
      }
      th {
        &:last-of-type {
          width: 147px;
        }
      }
      td {
        &:last-of-type {
          width: 147px;
        }
      }
    }
  }
}

#protocolMain {
  h3 {
    font-size: 18px;
    font-weight: 400;
  }
  & > p {
    color: #252525;
    font-weight: 700;
  }
  ol {
    padding: 0 0 30px 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
  }
  li {
    font-size: 14px;
    color: #252525;
    line-height: 24px;
    font-weight: 300;
    p {
      font-size: 14px;
      color: #252525;
      line-height: 24px;
      font-weight: 300;
    }
  }
}