//背景色
$back: #f5f5f5;
//元素居中
$center_auto: 0 auto;
//icon宽
$icon-width: 24px;
//icon高
$icon-height: 24px;
//主色调颜色
$masterColor: #6464D2;
//副色调颜色
$viceColor: #f6ab26;
//提示语缩进
$prompt_indent: 30px;
//正文
$mainColor: #555;
//介绍
$Introduction: #a4a4a4;
//展示
$show: green;
//预热
$preheating: green;
//进行
$getOn: green;
//处理
$dealWith: green;
//完毕
$finish: #6464D2;
//主色调背景色
$masterBG: linear-gradient(-180deg,#8a8ade,#6464d2);